* { 
    padding: 0;
    margin: 0;
}

.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    background-color: #FFE6C0;
}

.menu {
    background-color: #8B0E0E; /*#A70222*/
    width: 100%; 
    height: 20vh;
    display: flex;
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box; 
}

.logo {
    height: 80%;
    margin-right: 30px;
}

.setec {
    color: #CB9441;
    font-size: 48px;
    font-family: "Marcellus", serif;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 9px;
    margin-left: auto;
    width: 300px; 
}

.search-input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    width: 100%; 
}

.icon {
    color: #E5AA4F;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
}

.lupa {
    margin-left: 10px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 5px;
    margin-right: 20px;
}

.icons i, .icons ion-icon {
    color: #E5AA4F;
    font-size: 30px;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.icons i:hover, .icons ion-icon:hover {
    color: #D4943A;
}

main{
    height: 70vh;
}

footer {
    background-color: #8B0E0E; /*#A70222*/
    width: 100%; 
    height: 35vh;
}

.footer_container{
    font-family: "Marcellus", serif;
    color: #E5AA4F;
    margin-top: 5vh;
    height: 20vh;
    text-align: left;
    display: grid;
    margin-left: 15vw;
    box-sizing: border-box; 
    grid-template-areas: "a b"
               "c d";
    gap: 20px;
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

.empty{
    color:#8B0E0E;
}


